@font-face {
    font-family: 'Cadman';
    src: url('Cadman_Roman-webfont.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-size;
}

body {
    font-size: 1em;
    font-family: 'Cadman', sans-serif;
}

/************************** APP ***************************
 *                      <header></header>
 *
 *  <nav>                 <main>                  <aside>
 * category                                         user
 *               <Widget/> <Widget/> <Widget/>
 *   info                                           info
 *  </nav>                </main>                 </aside>
 *
 *                      <footer></footer>
**********************************************************/

.app {
    display: grid;

    grid-template-areas:
        "header header header"
        "nav content side"     
        "footer footer footer";
    
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

    height: 100vh;
}

header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #33CC33;  
    background-color: #000000;  

}

nav {
    grid-area: nav;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #333333;  
    background-color: #e6ffcc; 
}

nav ul {
    list-style: none;
}

main {
    grid-area: content;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffe6;
}

aside {
    grid-area: side;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #333333;  
    background-color: #e6ffcc; 
}

aside ul {
    list-style: none;
}

footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #33CC33;  
    background-color: #000000;  
}

/**********************************************************
 * User
 */
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

/**********************************************************
 * Ideas bar
 */
.ideas_bar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 120px; 
}

.saved_notification {
    font-size: 1.3em;
}

/**********************************************************
 * Widget
 */
.widgets {
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px; 
    row-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}

.widget {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    width: 230px;
    display: flex;
    flex-direction: column;
}

.widget .title_bar {
    display: flex;
    flex-direction: row;
}

.widget .title {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.widget .id {
    margin-top: 5px;
    padding: 5px;
}

.widget .category {
    color: #5D6063;
    padding: 5px;
}

.widget .body {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
}

.widget .timestamp {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 0.8em;
}

.widget .close_button {
    color: red;
}

/**********************************************************
 * Main
 */
.sign_button {
    margin: 20px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/**********************************************************
 * Nav
 */
.nav_category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_button {
    margin: 5px;
}

.clean_cat_button {
    margin: 20px;
    font-size: 1em;
    color: red;
}

/**********************************************************
 * Media
 */
@media (max-width: 768px) {
    .app {
        grid-template-areas:
            "header"
            "nav"
            "content"
            "side"
            "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
            auto                    /* Header */
            minmax(auto, auto)      /* Nav */  
            1fr                     /* Content */
            minmax(auto, auto)      /* Sidebar */
            auto;                   /* Footer */
    }

    aside {
        margin: 0;
        height: auto;
    }

    .ideas_bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widgets {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .nav_category {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-auto-rows: minmax(10px, auto);
    }

    .category_button {
        margin: 5px;
    }


    .clean_cat_button {
        margin: 5px;
        font-size: 1em;
        color: red;
    }
}